<!DOCTYPE html>
<html>
<head>
  <title>Plankbot (✿◠‿◠)</title>
  <%= stylesheet_link_tag    "lms/application", media: "all" %>
  <%= javascript_include_tag "lms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
